

<form method="POST" action="/restaurants/<%= restaurant.id %>?_method=PUT">
    <!-- Restaurant details -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= restaurant.name %>" required>
    <br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" value="<%= restaurant.address %>" required>
    <br>

    <!-- Menu details -->
    <h3>Edit Menu:</h3>
    
<% restaurant.menu.forEach(function (menuItem, index) { %>
  

<% if (menuItem) { %>


    <label for="menu_<%= index %>_name">Dish Name:</label>
    <input type="text" id="menu_<%= index %>_name" name="menu_name" value="<%= menuItem.name %>" required>


        <label for="menu_<%= index %>_name">Dish Price:</label>
        <input type="text" id="menu_<%= index %>_name" name="menu_price" value="<%= menuItem.price %>" required>

<br><br>
    <br>



    <% } %>
 
            <% }); %>
               
                   
           
                        <button type="submit">Update Restaurant</button>
    </form>

    <script>
        function addMenuItem() {
            
        }
    </script>