<%- include('../partials/header') %>

    <div class="container py-5 newitem">
        <form method="POST" action="/restaurants/<%= restaurant.id %>?_method=PUT">
            <!-- Restaurant details -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Restaurant Name:</label>
                    <input type="text" id="name" name="name" value="<%= restaurant.name %>" class="form-control"
                        required>
                </div>

                <div class="col-md-6">
                    <label for="address" class="form-label">Restaurant Address:</label>
                    <input type="text" id="address" name="address" value="<%= restaurant.address %>"
                        class="form-control" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="image" class="form-label">Image URL:</label>
                    <input type="url" id="image" name="image" value="<%= restaurant.image %>" class="form-control">
                </div>
            </div>
            <br>
            <!-- Menu details -->
            <h5>Edit Menu Items:</h5>
            <br>
            <% if (restaurant.menu.length) { %>
                <% for (let i=0; i < restaurant.menu.length; i +=2) { %>
                    <div class="row mb-3">
                        <% for (let j=i; j < i + 2 && j < restaurant.menu.length; j++) { %>
                            <div class="col-md-6">
                                <strong>Category:</strong> <%= restaurant.menu[j].category.charAt(0).toUpperCase() +
                                        restaurant.menu[j].category.slice(1) %> <br> <br>
                                <label for="menu_<%= j %>_name" class="form-label">Dish Name:</label>
                                <input type="text" id="menu_<%= j %>_name" name="menu_name"
                                    value="<%= restaurant.menu[j].name %>" class="form-control" required><br>

                                <label for="menu_<%= j %>_price" class="form-label">Dish Price:</label>
                                <input type="text" id="menu_<%= j %>_price" name="menu_price"
                                    value="<%= restaurant.menu[j].price %>" class="form-control" required><br>

                                <label for="menu_<%= j %>_image" class="form-label">Image Url:</label>
                                <input type="url" id="menu_<%= j %>_image" name="menu_image"
                                    value="<%= restaurant.menu[j].image %>" class="form-control"><br>

                                <form
                                    action="/restaurants/<%= restaurant.id %>/menu/<%= restaurant.menu[j]._id %>?_method=DELETE"
                                    method="POST">
                                    <button type="submit" class="btn btn-danger">Delete Dish</button>
                                </form>

                                <br><br>
                            </div>
                            <% } %>
                   
                    <% } %>
                        <% } %>
                        </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-custom">Update Restaurant</button>
                            </div>
        </form>
    </div>

    <%- include('../partials/footer') %>