<%- include('../partials/header') %>

<H2>ALL RESTAURANTS</H2>

<div>
    <% restaurants.forEach(r=>{%>
        <div><%= r.name%></div>
        <div><%= r.address%></div>
        <div><a href="/restaurants/<%=r.id%>">View</a></div>
        <% if(user && user.isAdmin){%>
        <div><a href="/restaurants/<%=r.id%>/edit">Edit</a></div>
        <div>
            <form method="POST" action="/restaurants/<%= r.id%>?_method=DELETE" onsubmit="return confirmDelete()">
                <button type="submit">Delete</button>
            </form>
            <% } %>
        </div>
        <br><br>
    <%}) %>
   
</div>

<%- include('../partials/footer') %>