<%- include('../partials/header') %>

<section class="restaurants">
    <div class="banner-container">
        <img src="/images/banner.png"
            alt="Food Banner" class="img-fluid" />
    </div>
    <div class="container py-5">
        <div class="row py-2">
            <div class="col-lg-5 m-auto text-center">
                <h1>Restaurants</h1>
                <h6 style="color:#777B7E;">Discover Every Flavorful Dining Spot</h6>
            </div>
           
        </div>
        <div class="row">
            <% restaurants.forEach((r, index)=> { %>
                <div class="col-lg-3 mb-4 text-center">
                    <div class="card border-0 bg-light">
                    <div class="card-body">
                        <!-- Add content for each card here -->
                        <img src="<%= r.image %>" class="card-img-top " alt="Restaurant Image" style="max-height: 350px;">
                        <h5 class="card-title">
                            <%= r.name %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= r.address %>
                        </h6>
                    </div>
                    </div>
                    <div class="mt-3 d-flex justify-content-center"> <!-- Added d-flex and justify-content-between for spacing -->
                        <a href="/restaurants/<%= r.id %>" class="btn  btn-sm btn-custom">View</a> <!-- Added btn-sm for smaller size -->
                        <% if(user && user.isAdmin){ %>
                            <a href="/restaurants/<%= r.id %>/edit" class="btn btn-sm btn-custom" style="margin-left: 5px; margin-right: 5px;">Edit</a>
                            <!-- Added mx-2 for margin -->
                            <form method="POST" action="/restaurants/<%= r.id %>?_method=DELETE" onsubmit="return confirmDelete()"
                                class="d-inline">
                                <button type="submit" class="btn btn-sm btn-custom">Delete</button> <!-- Added btn-sm for smaller size -->
                            </form>
                            <% } %>
                    </div>
                    </div>
                <% if ((index + 1) % 4===0) { %> <!-- Added this line to check for every fourth card -->
        </div>
        <div class="row">
            <% } %>
                <% }) %>
        </div>
    </div>
</section>





<%- include('../partials/footer') %>