<%- include('../partials/header') %>

    <div class="container py-5 newitem">
        <H2 class="mb-4">NEW RESTAURANT</H2>

        <form action="/restaurants" method="POST">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="name">Restaurant Name</label>
                    <input type="text" id="name" name="name" value="<%= restaurant.name %>" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" value="<%= restaurant.address %>"
                        class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="image">Image URL</label>
                    <input type="url" id="image" name="image" value="<%= restaurant.image %>" class="form-control">
                </div>
            </div>
            <h4>Menu</h4>
            <div id="menuCategories" class="mb-3">
                <div class="menuCategory">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="category">Category</label>
                            <select name="menu_category[]" class="form-select" required>
                                <option value="starters">Starters</option>
                                <option value="maincourse">Main Course</option>
                                <option value="dessert">Dessert</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="dishes">Dish Name</label>
                            <input type="text" name="menu_name[]" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label for="price">Price</label>
                            <input type="text" name="menu_price[]" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label for="image">Image Url:</label>
                            <input type="url" name="menu_image[]" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" onclick="addCategory()" class="btn btn-secondary">Add Dish</button>
            <br><br>

            <button type="submit" class="btn btn-primary">Create Restaurant</button>

        </form>
    </div>

    <script>
        function addCategory() {
            const container = document.getElementById('menuCategories');
            const newCategory = document.createElement('div');
            newCategory.classList.add('menuCategory', 'mb-3');

            const categoryIndex = container.children.length;

            newCategory.innerHTML = `
            <div class="row">
                <div class="col-md-4">
                    <label for="category">Category</label>
                    <select name="menu_category[]" class="form-select" required>
                        <option value="starters">Starters</option>
                        <option value="maincourse">Main Course</option>
                        <option value="dessert">Dessert</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="dishes">Dishes</label>
                    <input type="text" name="menu_name[]" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="price">Price</label>
                    <input type="text" name="menu_price[]" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="image">Image Url:</label>
                    <input type="url" name="menu_image[]" class="form-control">
                </div>
            </div>
        `;

            container.appendChild(newCategory);
        }
    </script>

    <%- include('../partials/footer') %>