<%- include('../partials/header') %>

    <section class="restaurants">
        <div class="container py-5">
            <div class="row py-2">
                <div class="col-lg-5 m-auto text-center">
                    <h1>
                        <%= restaurant.name %>
                    </h1>
                    <h6 style="color:#777B7E;">
                        <%= restaurant.address %>
                    </h6>
                </div>
            </div>


            <div id="map" style="height:300px;">
            </div>
        
        <% if(user && !user.isAdmin){ %>

            <div class="container mt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-5">
                        <label for="userAddress">Delivery Time to your Address:</label>
                        <div class="input-group">
                            <input type="text" id="userAddress" class="form-control" placeholder="<%= userAddress %>">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-custom" onclick="calculateDeliveryTime()">
                                    Calculate Delivery Time
                                </button>
                            </div>
                        </div>
            
                        <div id="deliveryTime" class="mt-3"></div>
                    </div>
                </div>
            </div>
        <% } %>
            
            
           


            <div class="row">
                <% if(user && user.isAdmin){ %>
                    <div class="col-12 mb-4 text-center">
                        <div class="mt-3 d-flex justify-content-center">
                            <a href="/restaurants/<%= restaurant.id %>/menu/new" class="btn btn-sm btn-custom mr-2">Add
                                New Dish</a>
                            <a href="/restaurants/<%= restaurant.id %>/edit"
                                class="btn mr-5 btn-sm btn-custom !important">Edit Restaurant</a>
                            <form method="POST" action="/restaurants/<%= restaurant.id %>?_method=DELETE"
                                onsubmit="return confirmDelete()">
                                <button type="submit" class="btn btn-sm btn-custom">Delete Restaurant</button>
                            </form>
                        </div>
                    </div>
                    <% } %>

                        <% if (restaurant.menu && restaurant.menu.length> 0) { %>
                            <% restaurant.menu.forEach(menuItem=> { %>
                                <div class="col-lg-3 mb-4 text-center">
                                    <div class="card border-0 bg-light shadow">
                                        <div class="card-body">
                                            <!-- Add content for each card here -->
                                            <img src="<%= menuItem.image %>" class="card-img-top" alt="Restaurant Image"
                                                style="max-height: 350px;">
                                            <h5 class="card-title">
                                                <%= menuItem.name %>
                                            </h5>
                                            <h6 class="card-subtitle mb-2 text-muted">$<%= menuItem.price %>
                                            </h6>
                                            <h6>
                                                <%= menuItem.category %>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="mt-4 d-flex justify-content-center">
                                        <% if(user && user.isAdmin){ %>
                                            <a href="/restaurants/<%= restaurant.id %>/menu/<%= menuItem.id %>/edit"
                                                class="btn btn-sm btn-custom mr-2">Edit Dish</a>
                                            <form
                                                action="/restaurants/<%= restaurant.id %>/menu/<%= menuItem._id %>?_method=DELETE"
                                                method="POST">
                                                <button type="submit" class="btn btn-sm btn-custom">Delete Dish</button>
                                            </form>
                                            <% } else if(user && !user.Admin) { %>
                                                <form action="/orders/<%= restaurant.id %>/menu/<%= menuItem._id %>/add"
                                                    method="POST">
                                                    <button type="submit" class="btn btn-sm btn-custom">Add To
                                                        Order</button>
                                                </form>
                                                <% } %>
                                    </div>
                                </div>
                                <% }); %>
                                    <% } else { %>
                                        <div class="col-12">
                                            <p>No menu available.</p>
                                        </div>
                                        <% } %>
            </div>
        </div>
    </section>


  
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB62IrY1Ntte3dBc-2XWzSBjD3sfKPucuw&libraries=places&callback=initMap"></script>


<script>
    // Initialize the map
    
    function initMap() {
        // Replace 'Your Restaurant Address' with the actual address
        const restaurantAddress = '<%= restaurant.address%>';

        //const myLatLng = { lat: -34.397, lng: 150.644 }

        // Create a geocoder instance
        const geocoder = new google.maps.Geocoder();

        // Initialize the map
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            // center: myLatLng,
        });

        

        // Use the geocoding URL with the address parameter
        const geocodingUrl = `https://maps.googleapis.com/maps/api/geocode/json?address=${encodeURIComponent(restaurantAddress)}&key=AIzaSyB62IrY1Ntte3dBc-2XWzSBjD3sfKPucuw`;

        // Fetch geocoding data
        fetch(geocodingUrl)
            .then(response => response.json())
            .then(data => {
                const status = data.status;
                if (status === 'OK') {
                    const location = data.results[0].geometry.location;

                    // Update the map with the geocoded location
                    map.setCenter(location);

                    // Place a marker on the map
                    const marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        title: 'Restaurant',
                    });
                } else {
                    console.error('Geocoding failed:', status);
                }
            })
            .catch(error => {
                console.error('Error fetching geocoding data:', error);
            });
    }

    // Call the initMap function when the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        initMap();
    });

    function calculateDeliveryTime() {
            const userAddress = document.getElementById('userAddress').value;
            const restaurantAddress = '<%= restaurant.address%>'
            // Use the Distance Matrix API to calculate the estimated delivery time
            const distanceMatrixService = new google.maps.DistanceMatrixService();
            distanceMatrixService.getDistanceMatrix({
                origins: [userAddress],
                destinations: [restaurantAddress],
                travelMode: 'DRIVING',
            }, (response, status) => {
                if (status === 'OK') {
                    const element = response.rows[0].elements[0];
                    if (element.status === 'OK') {
                        const durationText = element.duration.text;
                        document.getElementById('deliveryTime').innerText = `Estimated Delivery Time: ${durationText}`;
                    } else {
                        console.error('Error calculating delivery time:', element.status);
                    }
                } else {
                    console.error('Distance Matrix request failed:', status);
                }
            });
        }

</script>

    <%- include('../partials/footer') %>