<%- include('../partials/header') %>

    <div>
        <h2>
            <%= restaurant.name %>
        </h2>
        <br>
        <a href="/restaurants/<%= restaurant.id %>/menu/new">Add New Dish</a>
    </div>
    <div><a href="/restaurants/<%= restaurant.id %>/edit">Edit</a></div>
    <div>
        <form method="POST" action="/restaurants/<%= restaurant.id %>?_method=DELETE" onsubmit="return confirmDelete()">
            <button type="submit">Delete</button>
        </form>
    </div>

    <div><strong>Address:</strong>
        <%= restaurant.address %>
    </div>

    <div>
        <h3>Menu</h3>
        <% if (restaurant.menu && restaurant.menu.length> 0) { %>
            <ul>
            <% restaurant.menu.forEach(menuItem=> { %>
             
                       
                    
                        <li>
                            Name: <%= menuItem.name %> 
                        </li>

                        <li>
                            Price: $<%= menuItem.price %>
                        </li>

                        <li>
                            Category: <%= menuItem.category %>
                        </li>
                        <br>
                        <a href="/restaurants/<%= restaurant.id %>/menu/<%= menuItem.id %>/edit">Edit Dish</a>


                        <form action="/restaurants/<%= restaurant.id %>/menu/<%= menuItem._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete Dish</button>
                        </form>

                        <form action="/orders/<%= restaurant.id %>/menu/<%= menuItem._id %>/add" method="POST">
                            <button type="submit">Add To Order</button>
                        </form>
                        <br><br>
                        
                        <% }); %>
                </ul>
               
                    <% } else { %>
                        <p>No menu available.</p>
                        <% } %>

    </div>

    <%- include('../partials/footer') %>